body {
	background-color: #f2f2f2;
}
.homepage {
	width: 100%;
	height: 100%;
}
/*导航栏*/
nav {
	height: 48px;
	background-color: #f29004;
	text-align: center;
	line-height: 48px;
	padding-left: 12px;
	padding-right: 12px;
}
#city {
	float:left;
	color:#fff;
	font-size: 1.8rem;
}
#city:after {
	content:'';
	position:absolute;
	margin-left:10px;
	float: left;
	width: 10px;
	height: 10px;
	border-left: 2px solid #fff;
	border-top: 2px solid #fff;
	transform: rotateZ(-135deg);
	margin-top: 16px;
}
nav>span {
	display: inline-block;
	font-size: 1.8rem;
	color:#fff;		
}
#search img {
	float: right;
	width: 26px;
	margin-top:10px;
}

/**************** 轮播图 being*******************/
.pagination {
  position: absolute;
  left: 0;
  text-align: center;
  bottom:5px;
  width: 100%;
}
.swiper-pagination-switch {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 10px;
  background: #999;
  box-shadow: 0px 1px 2px #555 inset;
  margin: 0 3px;
  cursor: pointer;
}
.swiper-active-switch {
  background: #cfdb00;
}
/**************** 轮播图 end*******************/

.live {
	width: 96%;
	margin-top:10px;
	margin-left:2%;
}
.live div {
	width: 32%;
	float:left;
}
.live2,.live3 {
	margin-left:2%;
}
.live div a img {
	width: 100%;
}
.live2 a img:first-child {
	margin-bottom:12%;
}
.live3 a img:first-child {
	margin-bottom:12%;
}
.part {
	width: 100%;
	height: 60px;
	text-align: center;
	margin: 0 auto;
}
.part .bt {
	width: 100%;
	color: #6b6b6b;
	font-size: 1.8em;
	position: relative;
	display: inline-block;
	height: 60px;
	line-height: 60px;
	text-align: center;
}
.part .bt:before {
	content: "";
	position: absolute;
	left: 2%;
	top: 30px;
	width: 30%;
	height: 2px;
	background-color: #d9d9d9;
}
.part .bt:after {
	content: "";
	position: absolute;
	right: 2%;
	top: 30px;
	width: 30%;
	height: 2px;
	background-color: #d9d9d9;
}
.part1 {
	width: 96%;
	margin-left:2%;
	margin-bottom:10px;
}
.part1 img {
	width: 100%;
}
.part1 .p1 {
	width: 100%;
	height: 44px;
	font-size:1.8rem;
	line-height:44px;
	background-color:#fff;
	color:#6b6b6b;
}

/*底部*/
footer {
	width: 100%;
	height: 68px;
	background-color: #fff
}
footer a {
	width: 20%;
	height: 100%;
	float: left;
	display: inline-block;
}
a p {
	font-size: 1.4rem;
	color:#808080;
	text-align: center;
}
.f1 p {
	color:#f6b26d;
}
.f1 .xb1 {
	background: url(../img/page_bottom.png) no-repeat;
	background-position:3px -40px;
	background-size: 452% 200%;
	width: 36px;
	height: 38px;
	margin:0 auto;
}
.f2 .xb2 {
	background: url(../img/page_bottom.png) no-repeat;
	background-position:-28px 4px;
	background-size: 410% 200%;
	width: 36px;
	height: 38px;
	margin:0 auto;
}
.f3 .xb3 {
	background: url(../img/page_bottom.png) no-repeat;
	background-position:-58px 4px;
	background-size: 410% 200%;
	width: 36px;
	height: 38px;
	margin:0 auto;
}
.f4 .xb4 {
	background: url(../img/page_bottom.png) no-repeat;
	background-position:-90px 4px;
	background-size: 410% 200%;
	width: 36px;
	height: 38px;
	margin:0 auto;
}
.f5 .xb5 {
	background: url(../img/page_bottom.png) no-repeat;
	background-position:-122px 4px;
	background-size: 410% 200%;
	width: 36px;
	height: 38px;
	margin:0 auto;
}









